<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="metashader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="metashader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <metashader.Properties.Settings>
            <setting name="AutoExecution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowRect" serializeAs="String">
                <value>600,0,800,800</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PreviewWindowRect" serializeAs="String">
                <value>0,0,600,400</value>
            </setting>
            <setting name="ConsoleWindowRect" serializeAs="String">
                <value>0,400,600,400</value>
            </setting>
        </metashader.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <metashader.Properties.Settings>
            <setting name="Default2DTexturePath" serializeAs="String">
                <value>\..\..\data\texture\ichimatsu.png</value>
            </setting>
            <setting name="DefaultCubeTexturePath" serializeAs="String">
                <value>\..\..\data\texture\rgb_cube.dds</value>
            </setting>
        </metashader.Properties.Settings>
    </applicationSettings>
</configuration>